*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
*.egg-info/
dist/
build/

instance/
*.db
*.sqlite3
*.sqlite

.vscode/
.idea/
*.sublime-workspace

.DS_Store

Thumbs.db

*.log

.coverage
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

.python-version
